@theme static {
	--breakpoint-*: initial;
	--breakpoint-xs: 640px; /* 40rem */
	--breakpoint-sm: 768px; /* 48rem */
	--breakpoint-md: 1024px; /* 64rem */
	--breakpoint-lg: 1366px; /* 85.375rem */
	--breakpoint-xl: 1920px; /* 120rem */
	/* ### default ###
	--twds-breakpoint-sm: 40rem;
	--twds-breakpoint-md: 48rem;
	--twds-breakpoint-lg: 64rem;
	--twds-breakpoint-xl: 80rem;
	--twds-breakpoint-2xl: 96rem; */
}
