@theme inline {
	--text-color-primary-dark: theme(--color-steel-gray-100);
	--text-color-primary-light: theme(--color-steel-gray-900);

	--text-color-secondary-dark: theme(--color-steel-gray-400);
	--text-color-secondary-light: theme(--color-steel-gray-600);

	--text-color-hint-dark: theme(--color-steel-gray-500);
	--text-color-hint-light: theme(--color-steel-gray-500);

	--text-color-link-dark: theme(--color-blue-400);
	--text-color-link-light: theme(--color-blue-600);

	--text-color-disabled-dark: theme(--color-steel-gray-600);
	--text-color-disabled-light: theme(--color-steel-gray-400);

	--text-color-success-dark: theme(--color-teal-400);
	--text-color-success-light: theme(--color-teal-600);

	--text-color-error-dark: theme(--color-red-400);
	--text-color-error-light: theme(--color-red-600);

	--text-color-primary: theme(--text-color-primary-light);
	--text-color-secondary: theme(--text-color-secondary-light);
	--text-color-hint: theme(--text-color-hint-light);
	--text-color-link: theme(--text-color-link-light);
	--text-color-disabled: theme(--text-color-disabled-light);
	--text-color-success: theme(--text-color-success-light);
	--text-color-error: theme(--text-color-error-light);
}
